/*
 * Styles for Signup.vue
 * and Login.vue
 * These mostly control login forms
*/

.field-name-hint{
    position: absolute;
    left: 18px;
    top: -21px;
    font-size: 13px;
}


.form-control{
    &:active, &:focus{
        box-shadow: none !important;
        transition-property: none !important;
        -moz-transition: none !important;
        -webkit-transition: none !important;
    }
}
