.ui.menu .header.item img.logo {
	width:100px !important;
}
.ui.menu .item.logo {
	padding-top:5px;
}
.ui.menu a.item.logo:hover {
	background-color:#fff;
}
.ui.selection.dropdown {
	margin:5px 10px 5px 0px;
}
.ui.menu .ui.dropdown .menu>.header { 
	background-color:#eee !important;
	margin:0px;
	padding-top:10px;
	padding-bottom:8px;
}
.pageContent {
	margin-top:80px;
}
.ui.button {
	padding-top:.6em;
	padding-bottom:.6em;
}

.list-item {
  border-bottom: 1px solid rgba(34,36,38,.15);
  padding-bottom: 5px;
}

.input-container {
  display: inline-block;
  width: 450px;
  padding: 8px 15px 0 15px;
}

.mobile-btn-container {
  margin-right: 0px !important;
  padding-top: 15px;
}

#mobileNav-container { margin-top: 50px; }
#mobileNav li { padding: 1%; border-bottom: 1px solid rgba(34,36,38,.15); }

.navbar-nav li {
  border-left: 1px solid rgba(34,36,38,.15);
}
